body {
    font-family: 'Nunito', sans-serif;
    background-color: #FEEFE5;
    color: #AC7B84;
    overflow: scroll;
    overflow-x: hidden;
}

/* header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
} */

#logo {
    width: 75px;
    height: 156px;
    display: block;
    margin: auto;
}

#brand {
    width: fit-content;
    text-align: center;
    margin: auto;
    font-family: 'Tsukimi Rounded', sans-serif;
}

#shop {
    width: 80%;
    display: block;
    height: fit-content;
    text-align: center;
    background-color: #AC7B84;
    color:#FEEFE5;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    border-radius: 10px;
    font-weight: bold;
}

img.shadow {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #061826;
    transition: box-shadow .3s ease-out;
}

img.shadow:hover {
    box-shadow: 15px 15px 0px #061826; 
}

h1 {
    margin: auto;
    margin-top: 10px;
    font-size: 60px;
}

h2 {
    width: 90%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 40px;
}

/* a.links {
    display: block;
    margin: auto;
    margin-left: 20px;
    margin-top: 10px;
} */

p {
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

hr {
    width: 97%;
    border: 10px solid #506C64;
    margin-top: 20px;
    border-radius: 10px;
}

div {
    background-color: #506C64;
    box-shadow: 10px 10px 0px #061826;
    transition: box-shadow .3s ease-out;
    margin-top: 20px;
    border-radius: 10px;
}

div:hover {
    box-shadow: 15px 15px 0px #061826; 
}

section {
    background-color: #506C64;
    border-radius: 10px;
    width: 90%;
    height: fit-content;
    color:#FEEFE5;
    margin: auto;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 10px;
}

a {
    text-decoration: none;
    color:#FEEFE5;
}

.info {
    width: 100%;
    height: 100px;
    margin: auto;
    color:#FEEFE5;
}

#nav {
    width: 99%;
    height: fit-content;
}

#design {
    display: block;
    margin: auto;
    margin-top: 20px;
}

ul {
    text-align: center;
    width: 99%;
    padding-left: 0px;
}

li {
    display: inline;
    color:#FEEFE5;
    font-size: 30px;
}

li:not(:first-child):before {
    content: "  |  ";
}

@media only screen and (min-width: 600px) {
    h2 {
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }

    p {
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }

    .info{
        width: 50%;
    }

    hr {
        width: 50%;
    }

    #nav {
        margin: auto;
        width: 50%;
    }

    img.shadow {
        width: 50%;
    }
}

@media only screen and (min-width: 1055px) {
    #shop {
        width: 100%;
    }

    section {
        opacity: 0;
        position: absolute;
        background-color: #506C64;
        border-radius: 10px;
        width: 20%;
        height: fit-content;
        color:#FEEFE5;
        padding: 20px;
        padding-left: 25px;
        margin-top: 100px;
        transform: translateX(-20px);
        font-size: 40px;
        animation: slideFromLeft 1s 1s ease-out forwards;
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    100% {
        opacity: 1;
        transfor: translateX(-20px);
    }
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background:#d5c9c2;
}

::-webkit-scrollbar-thumb {
    background:#506C64;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background:#061826;
}

::selection {
    background:#AC7B84;
    color:#FEEFE5;
}
